@use "../../styles/breakpoints" as b;
@use "../../styles/variables" as v;

.mastery {
	background: linear-gradient(45deg, #1b1b21 20%, #31313b 80%);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 1.5rem;
	padding: 1.5rem 0;
	border: 1px solid v.$color-bg;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: v.$transition;
	&:hover {
		border-color: v.$color-victory-light;
		scale: 1.05;
	}

	&__champion {
		border: 3px solid v.$color-gray-darker;
		width: 44px;
		height: 44px;
		@include b.breakpoint(md) {
			width: 56px;
			height: 56px;
		}
		@include b.breakpoint(lg) {
			width: 70px;
			height: 70px;
		}
	}

	h5 {
		font-size: 1rem;
		@include b.breakpoint(lg) {
			font-size: 1.4rem;
		}
	}

	&__badge {
		width: 44px;
		height: 44px;
		@include b.breakpoint(md) {
			width: 56px;
			height: 56px;
		}
	}
}
