//colors
$color-font: #ffffff;
$color-bg: #1b1b1d;
$color-gray-light: #31313a;
$color-gray-darker: #27272f;
$color-victory-light: #5383e9;
$color-victory-dark: #28344d;
$color-defeat-light: #e93f56;
$color-defeat-dark: #5a353c;

//fonts
$font: "Inter", sans-serif;

//transition
$transition: 0.3s all ease-in-out;
