//colors
$color-font: hsl(0, 0%, 100%);
$color-bg: hsl(240, 3%, 11%);
$color-gray-light: hsl(240, 9%, 21%);
$color-gray-darker: hsl(240, 9%, 17%);
$color-victory-light: hsl(221, 77%, 62%);
$color-victory-dark: hsl(221, 32%, 23%);
$color-defeat-light: hsl(352, 79%, 58%);
$color-defeat-dark: hsl(349, 26%, 28%);

//fonts
$font: "Inter", sans-serif;
